 <nav class="site-nav">
    <div class="nav-content">
      <div class="nav-left">
        <a href="{{ '/' | relative_url }}" class="site-title">{{ site.title }}&nbsp;&nbsp;<i class="fa-solid fa-user-ninja"></i></a>
      </div>
      <div class="nav-right">
        <ul>
          <li><a href="{{ '/projects' | relative_url }}">Projects</a></li>
          <li><a href="{{ '/about' | relative_url }}">Profile</a></li>
          <li><a href="{{ '/tags' | relative_url }}">Skills</a></li>
        </ul>
      </div>
    </div>
  </nav>