.carousel-item img {
  max-height: 500px;
  object-fit: cover;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.spacer {
  margin-bottom: 32px;
}

.spacer-large {
  margin-bottom: 65px;
}

.btn-primary {
    color: white;
    background-color: #34a1dc;
    border-color: #34a1dc;
}

.btn-primary:hover {
    color: white;
    background-color: #3485dc;
    border-color: #3485dc;
}