<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/global.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/nav.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}">
    <script src="https://kit.fontawesome.com/e758f79564.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    {% include nav.html %}
  </header>
  <div class="wrapper"> 
    <main class="content">
         <div class="content-layout">   
           {{ content }}
        </div>
  </main>
  </div> 
  <footer>
    {% include footer.html %}
  </footer>
</body>
</html>